# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# test directories
humanDB_genome/
humanDB_trans/
humanOut_genome/
humanOut_trans/
drosophilaDB_genome/
drosophilaDB_trans/
drosophilaOut_genome/
drosophilaOut_trans/
cmake-build-debug/
cmake-build-release/
.idea/

data/drosophila_4_introns.gff
